<h1 class="mat-headline-4 mb-0 mt-2">Home</h1>

<div *ngIf="computerInfo">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="mat-h1">OS</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="mat-body-1">
        {{ computerInfo.currentUser }}&#64;{{ computerInfo.hostname }}
      </div>
      <div class="mat-body-1">
        {{ computerInfo.osName }} (Version: {{ computerInfo.osVersion
        }}{{ osBuild }})
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title class="mat-h1">CPU</mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf="supportedFeatures?.cpuInfo; else cpuInfoElse">
      <div class="mat-body-1">Name: {{ computerInfo.cpu?.name }}</div>
      <div class="mat-body-1">Core count: {{ computerInfo.cpu?.numCores }}</div>
      <div class="mat-body-1">
        Thread count: {{ computerInfo.cpu?.numThreads }}
      </div>
      <div class="mat-body-1">
        Frequency:
        {{ arrayHelpers.average(computerInfo.cpu!.baseFrequencies) }}
        MHz
      </div>
    </mat-card-content>

    <ng-template #cpuInfoElse>
      <mat-card-content>
        <div class="mat-body-1">CPU info is not supported</div>
      </mat-card-content>
    </ng-template>

  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title class="mat-h1">Memory</mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf="supportedFeatures?.memoryInfo && computerInfo; else memoryInfoElse">
      <div class="mat-body-1">
        Capacity:
        {{
        (computerInfo!.memory?.totalMemory ?? 0) > 0
        ? sizeDisplay(computerInfo!.memory?.totalMemory)
        : "Unknown"
        }}
        ({{
        numberHelpers.toByteString(computerInfo!.memory?.usableMemory)
        }}
        usable<span *ngIf="computerInfo!.memory?.reservedMemory">,
          {{ numberHelpers.toByteString(computerInfo!.memory?.reservedMemory) }}
          reserved</span>)
      </div>
      <div class="mat-body-1" *ngIf="computerInfo!.memory?.speed">
        Speed: {{ computerInfo!.memory?.speed }} MHz
      </div>
      <div class="mat-body-1" *ngIf="computerInfo!.memory?.type && computerInfo!.memory?.formFactor">
        Type: {{ computerInfo!.memory?.type }}
        {{ computerInfo!.memory?.formFactor }}
      </div>
      <ul>
        <li *ngFor="let stick of computerInfo!.memory?.memorySticks">
          <div class="mat-body-1">
            {{ sizeDisplay(stick.capacity) }} ({{ stick.manufacturer }}
            {{ stick.partNumber }})
          </div>
        </li>
      </ul>
    </mat-card-content>

    <ng-template #memoryInfoElse>
      <mat-card-content>
        <div class="mat-body-1">Memory info is not supported</div>
      </mat-card-content>
    </ng-template>

  </mat-card>

  <mat-card *ngFor="let disk of computerInfo.disks">
    <mat-card-header>
      <mat-card-title class="mat-h1">Disk {{ disk.name }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="mat-body-1">Size: {{ sizeDisplay(disk.totalSize) }}</div>
      <div class="mat-body-1">Type: {{ disk.diskType }}</div>
      <div class="mat-body-1" *ngIf="disk.connectionType">
        Connection: {{ disk.connectionType }}
      </div>
      <!-- Hard drive only -->
      <div class="mat-body-1" *ngIf="disk.rotationalSpeed && disk.rotationalSpeed != 4294967295">
        Rotational speed: {{ disk.rotationalSpeed }} RPM
      </div>
      <div class="mat-body-1" *ngIf="disk.rotationalSpeed == 4294967295">
        Rotational speed: Unknown
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="supportedFeatures?.batteryInfo && allowedFeatures?.batteryInfo">
    <mat-card-header>
      <mat-card-title class="mat-h1">Battery</mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf="sysInfo.data.batteryInfo">
      <div class="mat-body-1">Charge level: {{ sysInfo.data.batteryInfo.chargeLevel | number:'1.0-1' }} %</div>
      <div class="mat-body-1" *ngIf="sysInfo.data.batteryInfo.voltage">
        Voltage: {{ sysInfo.data.batteryInfo.voltage / 1000 | number:'1.0-1' }} V
      </div>
      <div class="mat-body-1" *ngIf="sysInfo.data.batteryInfo.power != null">
        <span matTooltip="Battery power (negative for discharging)">
          Power: {{ sysInfo.data.batteryInfo.power / 1000 | number:'1.0-1' }} W
        </span>
      </div>
      <div class="mat-body-1" *ngIf="sysInfo.data.batteryInfo.current != null">
        <span matTooltip="Battery current (negative for discharging)">
          Current: {{ sysInfo.data.batteryInfo.current / 1000 | number:'1.0-1' }} A
        </span>
      </div>
      <div class="mat-body-1" *ngIf="sysInfo.data.batteryInfo.currentCapacity">
        <span matTooltip="How much energy the battery currently holds">
          Current capacity: {{ sysInfo.data.batteryInfo.currentCapacity / 1000 }} Wh
        </span>
      </div>
      <div class="mat-body-1" *ngIf="sysInfo.data.batteryInfo.fullCapacity">
        <span matTooltip="How much energy the battery holds when it's fully charged">
          Full capacity: {{ sysInfo.data.batteryInfo.fullCapacity / 1000 }} Wh
        </span>
      </div>
      <div class="mat-body-1" *ngIf="sysInfo.data.batteryInfo.designCapacity">
        <span matTooltip="How much energy the battery should hold by design">
          Design capacity: {{ sysInfo.data.batteryInfo.designCapacity / 1000 }} Wh
        </span>
      </div>
      <div class="mat-body-1" *ngIf="sysInfo.data.batteryInfo.designCapacity && sysInfo.data.batteryInfo.fullCapacity">
        <span matTooltip="The percentage of energy that the battery can hold compared to its design capacity">
          Health: {{ sysInfo.data.batteryInfo.fullCapacity / sysInfo.data.batteryInfo.designCapacity * 100 | number:
          '1.0-2' }}
          %
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
