<h1>Home</h1>

<div *ngIf="computerInfo">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h3>OS</h3></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="mat-body-1">
        {{ computerInfo.currentUser }}@{{ computerInfo.hostname }}
      </div>
      <div class="mat-body-1">
        {{ computerInfo.osName }} (Version: {{ computerInfo.osVersion
        }}{{ osBuild }})
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title><h3>CPU</h3></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="mat-body-1">Name: {{ computerInfo.cpu.name }}</div>
      <div class="mat-body-1">Core count: {{ computerInfo.cpu.numCores }}</div>
      <div class="mat-body-1">
        Thread count: {{ computerInfo.cpu.numThreads }}
      </div>
      <div class="mat-body-1">
        Frequency:
        {{ arrayHelpers.average(computerInfo.cpu.baseFrequencies) }}
        MHz
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title><h3>Memory</h3></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="mat-body-1">
        Capacity:
        {{ sizeDisplay(computerInfo.memory.totalMemory) }}
        ({{ numberHelpers.toByteString(computerInfo.memory.usableMemory) }}
        usable,
        {{ numberHelpers.toByteString(computerInfo.memory.reservedMemory) }}
        reserved)
      </div>
      <div class="mat-body-1" *ngIf="computerInfo.memory.speed">
        Speed: {{ computerInfo.memory.speed }} MHz
      </div>
      <div
        class="mat-body-1"
        *ngIf="computerInfo.memory.type && computerInfo.memory.formFactor"
      >
        Type: {{ computerInfo.memory.type }}
        {{ computerInfo.memory.formFactor }}
      </div>
      <ul>
        <li *ngFor="let stick of computerInfo.memory.memorySticks">
          <div class="mat-body-1">
            {{ sizeDisplay(stick.capacity) }} ({{ stick.manufacturer }}
            {{ stick.partNumber }})
          </div>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card *ngFor="let disk of computerInfo.disks">
    <mat-card-header>
      <mat-card-title
        ><h3>Disk {{ disk.name }}</h3></mat-card-title
      >
    </mat-card-header>

    <mat-card-content>
      <div class="mat-body-1">Size: {{ sizeDisplay(disk.totalSize) }}</div>
      <div class="mat-body-1">Type: {{ disk.diskType }}</div>
      <div class="mat-body-1" *ngIf="disk.connectionType">
        Connection: {{ disk.connectionType }}
      </div>
      <!-- Hard drive only -->
      <div class="mat-body-1" *ngIf="disk.rotationalSpeed">
        Speed: {{ disk.rotationalSpeed }} RPM
      </div>
    </mat-card-content>
  </mat-card>
</div>
