/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

// Needed to make material typography work
$typography-config: mat.define-typography-config();
@include mat.all-component-typographies($typography-config);

$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette);
$warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

$primary-dark: mat.define-palette(mat.$teal-palette);
$accent-dark: mat.define-palette(mat.$blue-grey-palette);
$warn-dark: mat.define-palette(mat.$red-palette);
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $primary-dark,
    accent: $accent-dark,
    warn: $warn-dark,
  )
));

.dark-theme {
  @include mat.all-component-themes($dark-theme);

  .primary-color {
    color: mat.get-color-from-palette($primary-dark, 500);
  }

  .accent-color {
    color: mat.get-color-from-palette($accent-dark, 500);
  }

  .warn-color {
    color: mat.get-color-from-palette($warn-dark, 500);
  }
}

.light-theme {
  @include mat.all-component-themes($light-theme);

  .primary-color {
    color: mat.get-color-from-palette($primary-dark, 500);
  }

  .accent-color {
    color: mat.get-color-from-palette($accent-dark, 500);
  }

  .warn-color {
    color: mat.get-color-from-palette($warn-dark, 500);
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
