/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

// Needed to make material typography work
// $typography-config: mat.define-typography-config();
// @include mat.all-component-typographies($typography-config);

$light-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$chartreuse-palette,
      ),
    ));

$dark-theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$cyan-palette,
        tertiary: mat.$blue-palette,
      )));

.dark-theme {
  @include mat.all-component-themes($dark-theme);
  // @include mat.form-theme($dark-theme);
  // @include mat.all-component-themes($dark-theme);
  // @include mat.all-component-bases($dark-theme);
  // @include mat.all-component-colors($dark-theme);

  .primary-color {
    color: mat.get-theme-color($dark-theme, primary);
  }

  .error-color {
    color: mat.get-theme-color($dark-theme, error);
  }

  .secondary-container {
    background-color: mat.get-theme-color($dark-theme, secondary-container);
  }

  mat-card {
    background-color: mat.get-theme-color($dark-theme, surface-container);
  }

  .mat-mdc-table,
  mat-paginator,
  table.sticky-header th {
    background-color: mat.get-theme-color($dark-theme, surface-container-high);
  }
}

.light-theme {
  @include mat.core-theme($light-theme);
  @include mat.button-theme($light-theme);

  .primary-color {
    color: mat.get-theme-color($light-theme, primary);
  }

  .error-color {
    color: mat.get-theme-color($light-theme, error);
  }

  .secondary-container {
    background-color: mat.get-theme-color($light-theme, secondary-container);
  }

  mat-card {
    background-color: mat.get-theme-color($light-theme, surface-container-low);
  }

  .mat-mdc-table,
  mat-paginator,
  table.sticky-header th {
    background-color: mat.get-theme-color($light-theme, surface-container);
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Without this, it's impossible to scroll on <td>s with tooltips on touch devices
.mat-tooltip-trigger {
  touch-action: auto !important;
}
