<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title class="mat-h3">{{ title }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div>
      <div class="mat-body-2 mb-0" *ngFor="let feature of featuresList">
            <span
              [matTooltip]="feature.note ?? ''"
              [matTooltipDisabled]="feature.note == undefined"
              matTooltipPosition="below">
            {{ feature.name }}: <span>
              <span *ngIf="feature.unsupported !== true"
                    [class]="feature.supported ? 'primary-color' : 'warn-color'">{{ feature.supported ? positive : negative }}</span>
              <span *ngIf="feature.unsupported === true" class="accent-color">Unsupported</span>
            </span></span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
