.nav-container {
  padding-top: 16pt;
  padding-bottom: 16pt;
  display: flex;
  height: 100vh;
  flex-direction: column;
  row-gap: 8pt;
}

div.user {
  padding-left: 8pt;
  padding-right: 8pt;
}

button {
  margin-left: 8pt;
  margin-right: 8pt;
  display: inline-block;
  text-align: start;
}

div.spacer {
  flex-grow: 1;
}

.settings-button-active {
  color: white !important;
}

.settings-button-active:hover {
  filter: brightness(1.1);
}
