<h1 mat-dialog-title>{{ data.processInfo.name }} ({{ data.processInfo.pid }})</h1>

<div mat-dialog-content>

  <mat-spinner *ngIf="!extendedInfo && !error"></mat-spinner>

  <div *ngIf="error" class="mat-headline-6 warn-color">{{ error }}</div>

  <div *ngIf="extendedInfo" class="extended-info">
    <p *ngIf="extendedInfo.owner">Owner: {{ extendedInfo.owner }}</p>
    <ng-container *ngIf="supportedFeatures?.processPriority && extendedInfo.priorityWin">

      <mat-form-field *ngIf="supportedFeatures?.processPriorityChange; else noPriorityChange" appearance="outline"
                      class="mt-4">
        <mat-label>Priority</mat-label>
        <mat-select [(value)]="selectedPriority" (selectionChange)="onPriorityChange()">
          <mat-option *ngFor="let priority of allProcessPriorities" [value]="priority">
            {{ processPriorityName(priority) }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ng-template #noPriorityChange>
        <p>
          Priority: {{ processPriorityName(extendedInfo.priorityWin) }}
        </p>
      </ng-template>

    </ng-container>
    <p>Thread count: {{ extendedInfo.threadCount }}</p>
    <p>Handle count: {{ extendedInfo.handleCount }}</p>
    <p>
      <span matTooltip="Peak: {{ numberHelpers.toByteString(extendedInfo.peakWorkingSet) }}">
        Working set: {{ numberHelpers.toByteString(extendedInfo.workingSet) }}
      </span>
    </p>
    <p>
      <span matTooltip="Peak: {{ numberHelpers.toByteString(extendedInfo.peakPagedMemory) }}">
        Virtual size: {{ numberHelpers.toByteString(extendedInfo.pagedMemory) }}
      </span>
    </p>
    <p>
      <span matTooltip="Peak: {{ numberHelpers.toByteString(extendedInfo.peakVirtualMemory) }}">
        Paged memory: {{ numberHelpers.toByteString(extendedInfo.virtualMemory) }}
      </span>
    </p>
    <p>
      Private memory: {{ numberHelpers.toByteString(extendedInfo.privateMemory) }}
    </p>


    <mat-card *ngIf="affinityThreads" appearance="outlined">
      <mat-card-header>
        <mat-card-title matTooltip="Which threads this process can run on">Enabled threads (affinity)</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <!-- Multiple rows ensure that chips have correct animations -->
        <mat-chip-listbox [selectable]="false" *ngFor="let row of rowsArray" multiple>
          <mat-chip-option *ngFor="let i of row" [selected]="affinityThreads[i]" (click)="changeAffinity(i)">
            CPU {{ i }}
          </mat-chip-option>
        </mat-chip-listbox>

        <mat-chip-listbox [selectable]="false">
          <mat-chip-option [selected]="allAffinityThreadsSelected()" (click)="enableAllThreads()"
                           matTooltip="Enable all threads">
            CPU 0 - {{ affinityThreads.length - 1 }}
          </mat-chip-option>
        </mat-chip-listbox>
      </mat-card-content>
    </mat-card>

  </div>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button
    *ngIf="data.onKill"
    mat-button
    cdkFocusInitial
    (click)="data.onKill()"
    mat-dialog-close
  >Kill
  </button>
</div>
