<body [ngClass]="isDarkTheme() ? 'dark-theme' : 'light-theme'">
  <mat-sidenav-container style="height: 100vh">
    <!-- Drawer content -->
    <mat-sidenav mode="over" [opened]="sidenavOpen" class="d-md-none">
      <app-nav-menu (onRouteSelected)="closeSidenav()"></app-nav-menu>
    </mat-sidenav>

    <!-- Page content -->
    <mat-sidenav-content>
      <app-nav-bar (menuToggleEvent)="toggleSidenav()"></app-nav-bar>
      <main class="container">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div id="debugWindow" *ngIf="showDebugWindow()">
    IP: {{ sysInfo.clientIp() }}
    <br />
    Time since refresh: {{ sysInfo.data.refreshInfo.millisSinceLastRefresh }} ms
  </div>
</body>
