<body>
  <mat-sidenav-container style="height: 100vh">
    <!-- Drawer content -->
    <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [(opened)]="sidenavOpen">
      <app-nav-menu (onRouteSelected)="closeSidenav()"></app-nav-menu>
    </mat-sidenav>

    <!-- Page content -->
    <mat-sidenav-content>
      <app-nav-bar (menuToggleEvent)="toggleSidenav()"></app-nav-bar>
      <div class="sidebar-container">
        <!-- <div style="background-color: lightcoral; width: 100px;">
          <app-nav-menu></app-nav-menu>
        </div> -->

        <main class="container">
          <router-outlet></router-outlet>
        </main>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  @if (showDebugWindow()) {
    <mat-card id="debugWindow" appearance="outlined" class="surface-bg-transparent text-color">
      <mat-card-content>
        <p>IP: {{ sysInfo.clientIp() }}</p>
        <p>Time since refresh: {{ sysInfo.data.refreshInfo.millisSinceLastRefresh }} ms</p>
      </mat-card-content>
    </mat-card>
  }
</body>
