@use '@angular/material' as mat;

td,
th {
    text-align: center !important;
    vertical-align: middle !important;
}

.mat-sort-header-container {
    justify-content: center !important;
}

table {
  width: 100%;
}

$grey: mat.define-palette(mat.$grey-palette);
// Needed or else the table header will be transparent
table th {
  background-color: mat.get-color-from-palette($grey, 800);;
}
